<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->

    <a th:href="@{/songs/add-form}" sec:authorize="hasRole('ROLE_ADMIN')">
        <button type="button">Add New Song</button>
    </a>


    <h2>Choose a song:</h2>
    <form th:method="GET" th:action="@{/artists}">
        <div>
            <ul>
                <li th:each="song: ${songs}" style="list-style-type: none">
                    <input type="radio" name="trackId" th:value="${song.getTrackId()}" required>
                    Title: <span th:text="${song.getTitle()}"></span>,
                    Genre: <span
                        th:if="${song.getGenre()} != null"
                        th:text="${song.getGenre().getName()}"></span>,
                    Release Year: <span th:text="${song.getReleaseYear()}"></span>
                    Album: <span th:text="${song.getAlbum().getName()}"></span>

                    <a th:href="@{/songs/delete/{id}(id=${song.trackId})}" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button">Delete song</button>
                    </a>

                    <a th:href="@{/songs/edit-form/{id}(id=${song.trackId})}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                        <button type="button">Edit song</button>
                    </a>
                </li>
            </ul>
        </div>

        <input type='submit' value='Submit'>
    </form>

</main>

</div>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Songs Homepage - Welcome to My Music Store</title>-->
<!--    <style type="text/css">-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Welcome to My Music Store</h1>-->
<!--</header>-->
<!--<main>-->
<!--    <h2>Add a new song:</h2>-->
<!--    <a th:href="@{/songs/add-form}">-->
<!--        <button type="button">Add new song</button>-->
<!--    </a>-->
<!--    <h2>Choose a song:</h2>-->
<!--    <form th:method="POST" th:action="@{/artist}">-->
<!--        <div th:each="song : ${songs}">-->
<!--            <input type="radio" name="trackId" th:value="${song.trackId}"-->
<!--                   th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear} + ', Album: ' + ${song.album}"><br/>-->
<!--            <a th:href="@{/songs/delete/{id}(id=${song.trackId})}">-->
<!--                <button type="button">Delete song</button>-->
<!--            </a>-->
<!--            <br/>-->
<!--            <a th:href="@{/songs/edit-form/{id}(id=${song.trackId})}">-->
<!--                <button type="button">Edit song</button>-->
<!--            </a>-->
<!--        </div>-->
<!--        <input type='submit' value='Submit'>-->
<!--    </form>-->
<!--    &lt;!&ndash; Display radio buttons for each song,-->
<!--            the value should be the trackId-->
<!--            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> &ndash;&gt;-->
<!--</main>-->
<!--</body>-->
<!--</html>-->
